.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mask: url(#yourMask); /* Reference the mask by ID */
  mask-size: cover;
}
.image {
  @apply absolute object-cover object-center w-full h-full;
  mask-image: url('/images/');
    //   maskImage: `url(${imageMask.src})`,
            //   -webkitMaskImage: url(star.svg);
            //   maskSize: "contain",
            //   maskRepeat: "no-repeat",
}
